<h2>Products</h2>

<table id="products">
  <tr>
    <th><%= "Product Name" %></th>
    <th><%= "Product Price" %></th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.name, product %></td>
      <td><%= product.price %></td>
      <td>
        <%= form_with(url: carts_add_product_path) do |f| %>
          <%= f.hidden_field :id, value: product.id%>
          <%= f.submit 'Add to cart' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
