<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %> 
    <div> Welcome <%= current_user.email %> </div>
      <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
      <p>
        <%= link_to 'Products', products_path %>
        <%= link_to 'My Cart', @cart%>
        <%= link_to 'My Purchases', purchases_path %>
      </p>
    <% else %>
      <%= button_to 'Sign in', new_user_session_path %> 
    <% end %>
    <p class='notice'><%= notice %></p> 
    <p class='alert'><%= alert %></p>
    <h1>My ecommerce!</h1>
    <%= yield %>
  </body>
</html>
